.hidden {
    display: none;
}

body {
    max-width: 100%;
    color: darkblue;
    font-size: 6vw;
    margin:5vw;
}

h1 {
    margin: 1vw;
    font-size: 9vw;
}

.city-list-item {
    cursor: pointer;
    padding: 0.5vw;
}


#today-weather-details>div {
    padding: 1vw;
}

#city-name {
    font-size: 12vw;
    margin: 2vw 0 5vw;
    text-align: center;
}

button, input {
    padding: 2vw;
    font-size: 5.5vw;
    margin: 5vw 0;
    color: darkblue;
    border: 1px grey solid;
}

#main-weather-info {
    border-radius: 50%;
    width: 75vw;
    height: 75vw;
    margin: auto;
    background-color:lightsteelblue;
}

#sun-info {
    border: 3px yellow solid;
    border-radius: 50%;
    width: 55vw;
    height: 55vw;
    margin: auto;
}

#sun-container {
    overflow: hidden;
    height: 23vw;
    padding-top: 7vw;
}

#sun-picture {
    background-color: yellow;
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    margin-left: 24vw;
    margin-top: -4vw;
}

#moon-picture {
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    box-shadow: 2vw 2vw 0 0 yellow;
    margin-left: 18.5vw;
    margin-bottom: -10vw;
}

#main-weather-info.night-time {
    background-color:black;
}

#direct-info {
    width:40vw;
    height: 40vw;
    margin: auto;
    margin-top: -10vw;
    padding-left: 8vw;
}

#direct-info>div {
    padding: 1vw;
}

#direct-info.night-time {
    color: white;
}

#direct-sunrise-sunset.night-time {
    color: white;  
}

#direct-sunrise-sunset, #direct-info {
    font-size: 5vw;
}

#direct-main-weather-icon {
    margin-top: -17vw;
}

#direct-current-temperature, #direct-current-time {
    font-size: 8vw;
}

#direct-sunset {
    position:absolute;
    right: 16.5vw; 
}

#direct-sunrise {
    position:absolute;
    left: 16.5vw; 
}

.time-slot-time, .time-slot-temperature, .time-slot-icon {
    display: block;
    padding: 0.5vw;
    margin-right: 5vw;
}

.time-slot-temperature {
    font-size: 4.5vw;
}

#today-future-time-slots {
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
    list-style-type: none;
    padding-inline-start: 0%;
    font-size: 6vw;
}