.hidden {
    display: none;
}

.city-list-item {
    cursor: pointer;
}

#city-name-input, #go-back-cta, #city-name, #localisation-question, #localisation-yes-cta, #localisation-no-cta {
    max-width: 100%;
    padding: 20px;
    font-size: 25px;
    display: inline-block;
}

#main-info-today>div {
    padding: 15px;
    font-size: 20px;
}